QMainWindow {
    background-color : #121212
}

#titleBar {
    background-color: transparent;
    border-radius: 5px;
}

#boyuntlandir_button{
    color: white;
    background-color: #1c1c1c;
    border-radius: 3px;
}

#boyuntlandir_button:hover{
    color: white;
    background-color: #0e5aac;
}

#open_button{
    color: white;
    background-color: #1c1c1c;
    border-radius: 3px;
}

#open_button:hover{
    color: white;
    background-color: #0e5aac;
}

#save_button{
    color: white;
    background-color: #1c1c1c;
    border-radius: 3px;
}

#save_button:hover{
    color: white;
    background-color: #0e5aac;
}

#surukle_birak_ilk_hali,
#surukle_birak_son_hali{
    color: white;
    background-color: #1c1c1c;
    border-radius: 3px;
}

#surukle_birak_ilk_hali:hover{
    color: white;
    border: 1px solid #0e5aac;
}

QPushButton#donustur_buton{
    color: white;
    background-color: #1c1c1c;
    border-radius: 3px;
}

QPushButton#donustur_buton:hover{
    color: white;
    background-color: #0e5aac;
}

QPushButton#minimize_button{
    color: white;
    background-color: #1c1c1c;
    border: 0px
}

QPushButton#minimize_button:hover{
    color: white;
    background-color: #0e5aac;
    border: 0px
}

QPushButton#close_button{
    color: white;
    background-color: #1c1c1c;
    border: 0px
}

QPushButton#close_button:hover{
    color: white;
    background-color: #8f1f1f;
    border: 0px
}


